.toolbar{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background: #FCEA01;
  height: 56px;
  z-index: 700;
}

.toolbar__navigation{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__logo a{
  color:black;
  text-decoration: none;
  font-size: 1.5rem;


}
.spacer{
  flex: 1;
}

.toolbar__logo{
  margin-left: 0.5rem;
}
.toolbar_navigation-items ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li{
  padding: 0.5rem;
}
.toolbar_navigation-items a{
  color: black;
text-decoration: none;
font-size: 24px;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active{
color: #55C8E5;
}
@media only screen and (max-width: 320px) {
  .side-drawer li {
    margin: 0.25rem 0 !important;
}
  .side-drawer {
    height: 100%;
    background: #fcea01;
    position: fixed;
    top: 0;
    left: 0;
    width: 62% !important;
    max-width: 400px !important;
    z-index: 200 !important;
    transform: translateX(-100%);
    transition: transform .3s ease-out;
    text-align: center !important;
}
  .side-drawer a {
    color: black;
    text-decoration: none;
    font-size: 18px !important;
}
  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FCEA01;
    height: 56px;
    z-index: 302;
}
  .toolbar_navigation-items{
    display: none;
  }
  .tol-img {
    position: fixed;
    margin-left: 90%;
    width: 57%;
    z-index: 301 !important;

}
.toolbar__logo a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  z-index: 301 !important;
  position: fixed;
}
  .side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 48%;
}
.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 38px;
}
.imagen-toolbar {
  z-index: 100 !important;
  position: fixed;
}
}
@media only screen and (max-width: 401px) {
  .side-drawer li {
    margin: 0.25rem 0 !important;
}
  .side-drawer {
    height: 100%;
    background: #fcea01;
    position: fixed;
    top: 0;
    left: 0;
    width: 65% !important;
    max-width: 400px !important;
    z-index: 200 !important;
    transform: translateX(-100%);
    transition: transform .3s ease-out;
    text-align: center !important;
}
  .side-drawer a {
    color: black;
    text-decoration: none;
    font-size: 18px !important;
}
  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FCEA01;
    height: 56px;
    z-index: 302;
}
  .toolbar_navigation-items{
    display: none;
  }
  .tol-img {
    position: fixed;
    margin-left: 90%;
    width: 57%;
    z-index: 301 !important;

}
.toolbar__logo a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  z-index: 301 !important;
  position: fixed;
}
  .side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 48%;
}
.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 38px;
}
.imagen-toolbar {
  z-index: 100 !important;
  position: fixed;
}
}
@media only screen and (max-width: 600px) and (min-width: 402px)  {
  .side-drawer li {
    margin: 0.25rem 0 !important;
}
  .side-drawer {
    height: 100%;
    background: #fcea01;
    position: fixed;
    top: 0;
    left: 0;
    width: 65% !important;
    max-width: 400px !important;
    z-index: 200 !important;
    transform: translateX(-100%);
    transition: transform .3s ease-out;
    text-align: center !important;
}
  .side-drawer a {
    color: black;
    text-decoration: none;
    font-size: 18px !important;
}
  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FCEA01;
    height: 56px;
    z-index: 302;
}
  .toolbar_navigation-items{
    display: none;
  }
  .tol-img {
    position: fixed;
    margin-left: 90%;
    width: 57%;
    z-index: 301 !important;

}
.toolbar__logo a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  z-index: 301 !important;
  position: fixed;
}
  .side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 48%;
}
.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 38px;
}
.imagen-toolbar {
  z-index: 100 !important;
  position: fixed;
}
}
@media only screen and (max-width: 767px) and (min-width: 601px) {}
@media only screen and (max-width: 767px){
  .side-drawer li {
    margin: 0.25rem 0 !important;
}
  .side-drawer {
    height: 100%;
    background: #fcea01;
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    max-width: 400px !important;
    z-index: 200 !important;
    transform: translateX(-100%);
    transition: transform .3s ease-out;
}
  .side-drawer a {
    color: black;
    text-decoration: none;
    font-size: 18px !important;
}
  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FCEA01;
    height: 56px;
    z-index: 302;
}
  .toolbar_navigation-items{
    display: none;
  }
  .tol-img {
    position: fixed;
    margin-left: 90%;
    width: 57%;
    z-index: 301 !important;

}
.toolbar__logo a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  z-index: 301 !important;
  position: fixed;
}
  .side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 48%;
}
.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 38px;
}
.imagen-toolbar {
  z-index: 100 !important;
  position: fixed;
}
}

@media (max-width: 768px){
  .imagen-toolbar {
    z-index: 100 !important;
    position: fixed;
}
  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FCEA01;
    height: 56px;
    z-index: 301;
}
  .toolbar_navigation-items{
    display: none;
  }
  .tol-img {
    position: fixed;
    margin-left: 305% !important;
    width: 100%;
    z-index: 300;
}
  .side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 48% !important;
}

}

@media (min-width: 769px){
  .toolbar__toggle-button{
    display: none;
  }
  .toolbar__logo{
    margin-left: 0;
  }
}
@media (min-width: 992px){
  .toolbar_navigation-items a {
    color: black;
    text-decoration: none;
    font-size: 18px !important;
}
.toolbar_navigation-items li {
  padding: 15px;
}
}
@media (min-width: 1200px){
  .toolbar_navigation-items a {
    color: black;
    text-decoration: none;
    font-size: 20px !important;
}
.toolbar_navigation-items li {
  padding: 20px;
}
}

@media (min-width: 1600px){
  .toolbar_navigation-items a {
    color: black;
    text-decoration: none;
    font-size: 22px !important;
}
.toolbar_navigation-items li {
  padding: 25px !important;
}
}
