
.fondo{
  height: 80% !important;
  width: 100%;
}
.divfondo{
  background-color: #FCEA01;
  border-color: #FCEA01;
}


.giras{

  font-size: 5rem;
  margin-left: 1%;
  margin-bottom: -15%;
  padding-top: 3%;
}
.giras1{

  font-size: 36px;
  margin-left: 1%;
  margin-bottom: -15%;
  padding-top: 3%;
}
