
.bachome{
  height:100vh;

  width: 100%;
  background: #FCEA01;

}
  @font-face {
    font-family: myFirsclientes;
    src: url(./../Assets/fonts/Hack-Regular.ttf);
  }
  .texto {
    font-family: myFirsclientes !important;

  }

  .imgn{

    text-align: center;
    padding-top: 50%;
    width: 35%;
  }

  .imgrow{
    text-align: center;
  }
.speak{
  font-size: 22px;
  text-align: right;
  padding-right: 50px;
  color: #E3097E;
  padding-top: 5%;


}

.tam{
  width:35%
}

.cnt{
    height: 100%;
    width: 100%;
}

.dp{
    top: 15%;
}


  .sp{
    float: right;
  }



  .dps{
    margin-top: 5%;
  }
  .marginp{
    margin-left: -30%;
  }

  /*MEDIA QUERY*/

  @media only screen and (max-width: 320px) {
    .speak{
      display: none;


    }
    .imgn {
      text-align: center;
      padding-top: 70%;
      width: 60%;
  }

  }



  @media only screen and (max-width: 401px) {
    .speak{
      display: none;


    }
    .imgn {
      text-align: center;
      padding-top: 70%;
      width: 60%;
  }
  }



  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .speak{
    display: none;


  }
  .imgn {
    text-align: center;
    padding-top: 70%;
    width: 50%;
}

    }

    @media only screen and (max-width: 767px) and (min-width: 601px)  { .speak{
      display: none;


    }
    .imgn {
      text-align: center;
      padding-top: 50%;
      width: 40%;
  }
  }



    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      .speak{
        display: none;


      }
      .imgn {
        text-align: center;
        padding-top: 100%;
        width: 80%;
    }


    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      .imgn {
        text-align: center;
        padding-top: 85%;
        width: 80%;
    }

    .speak{
      font-size: 22px;
      text-align: right;
      padding-right: 50px;
      color: #E3097E;
      padding-top: 5%;
display: none;

    }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
      .imgn {
        text-align: center;
        padding-top: 100%;
        width: 35%;
    }

    .speak{
      font-size: 18px;
      text-align: right !important;
      padding-right: 50px;
      color: #E3097E;
      padding-top: 25%;
display: block;



    }
}
    @media only screen and (min-width: 1600px) {
      .imgn {
        text-align: center;
        padding-top: 75%;
        width: 35%;
    }

    .speak{
      font-size: 18px;
      text-align: right !important;
      padding-right: 50px;
      color: #E3097E;
      padding-top: 18%;
display: block;



    }

    }
