.t1{
  font-size: 28px;
}
.proyect{
  padding-top: 12%;
}
.pepl{
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: myFirsclientes;
  src: url(./../Assets/fonts/Hack-Regular.ttf);
}
.texto {
  font-family: myFirsclientes !important;

}
.rowwork{
  padding-top: 5%;

}

.cardwith{
  width: 100%;;
}
.rowcen{
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
}
.name{

  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
.name1{


  text-align: center;
  font-size: 12px;
}
.colr{
  padding-left: 3%;
    padding-right: 3%;
}
.bor{
  background: red;
}

.bor3{
  border-width: 2px;
  margin-top: -15%;
    margin-left: 6%;
    background-color: white;




  }
  .borderintegrante{
    border-width: 2px;
  }
.bor4{
  border-width: 2px;
    margin-right: 6%;
    height: 60px;
}
div.polaroid {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.bor1{
  border-style: solid;
  border-color: black;
}
.bor2{
  border-style: solid;
  border-color: black;
  height: 60px;
}
.btproyect{
  font-size: 14px;
}
.btproyect1{
  font-size: 12px;
}
.mg{
  margin-top: 8%;
}

/*MODAL*/

@media only screen and (max-width: 320px) {
.bor3 {
    border-width: 2px;
    margin-top: -25%;
    margin-left: 6%;
    background-color: white;
}



}
@media only screen and (max-width: 401px) {.bor3 {
  border-width: 2px;
  margin-top: -20%;
  margin-left: 6%;
  background-color: white;
}}
@media only screen and (max-width: 600px) {
  .bor3 {
    border-width: 2px;
    margin-top: -10%;
    margin-left: 6%;
    background-color: white;
  }



}




@media only screen and (min-width: 768px) {
  .bor3 {
    border-width: 2px;
    margin-top: -30%;
    margin-left: 6%;
    background-color: white;
  }
  .colr {
    padding-left: 1%;
    padding-right: 0%;
  }
}

@media only screen and (min-width: 992px) {
  .bor3 {
    border-width: 2px;
    margin-top: -22%;
    margin-left: 6%;
    background-color: white;
  }
  .colr1 {
    padding-left: 3%;
    padding-right: 3%;
}
}

@media only screen and (min-width: 1200px) {
  .bor3 {
    border-width: 2px;
    margin-top: -18%;
    margin-left: 6%;
    background-color: white;
  }
  .colr1 {
    padding-left: 3%;
    padding-right: 3%;
}
}
@media only screen and (min-width: 1600px) {
  .bor3 {
    border-width: 2px;
    margin-top: -12%;
    margin-left: 6%;
    background-color: white;
  }
  .colr1 {
    padding-left: 3%;
    padding-right: 3%;
}
}




